body {
 background-color:#7393B3 
}

h1 {
 text-align:center;
   color:#FFFFFF
}
p {
  text-align:left;
   color:#FFFFFF
}
p1 { 
  text-align:left;
   color:#FFFFFF
}
p3 { 
  text-align:left;
   color:#FFFFFF
}
p4 {
  text-align:left;
   color:#FFFFFF
}